__pycache__/*
.ipynb_checkpoints/*
.vscode/*
CLOTH3D_StarterKit/*
tnp_spremio_podatke/*
psbody_mesh-0.3-cp37-cp37m-linux_x86_64.whl
SMPL_python_v.1.0.0.zip
Testiranje generiranje CAPE podataka.ipynb
checkpoints/*